@media (max-width: 1479px) {
  .container {
    padding: 0 30px;
    max-width: 1280px;
  }

  .grettings {
    padding: 80px 0;
  }

  .grettings-text {
    width: 620px;
    padding-bottom: 42px;
  }

  .grettings__picture {
    width: 620px;
    height: 396px;

    img {
      object-fit: contain;
    }
  }

  .reviews-slider .swiper-slide {
    padding: 20px;
  }

  .grettings__picture::before {
    right: calc(50% + 303px);
    top: -72px;
    background-position: right top;
  }

  .grettings__picture::after {
    width: 90%;
    height: 208px;
    right: calc(50% + 304px);
    bottom: -80px;
    background-position: right top;
  }

  .advantages__list::before {
    display: none;
  }

  .grettings__picture {
    .lines {
      display: block;
      position: absolute;
      left: auto;
      width: 903px;
      height: 150px;
      background-image: url(../img/svg/lines.svg);
      background-position: center;
      background-repeat: no-repeat;
      top: calc(100% + 67px);
      right: calc(50% - 133px);
      background-size: contain;
    }
  }
}
