@media (max-width: 1439px) {
  .grettings {
    padding: 80px 0;
  }

  .grettings-text {
    width: 620px;
    padding-bottom: 42px;
  }

  .grettings__picture {
    width: 620px;
    height: 396px;

    img {
      object-fit: contain;
    }
  }

  .reviews-slider .swiper-slide {
    padding: 20px;
  }

  .reviews-slider .swiper-slide::before {
    width: 433px;
    height: 262px;
    z-index: -1;
    left: -20px;
    top: -6px;
    background-size: contain;
  }

  .reviews-slider {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    transform: initial;
    top: calc(100% - 15px);
  }

  .grettings__picture::before {
    right: calc(50% + 308px);
    top: -72px;
    background-position: right top;
  }

  .grettings__picture::after {
    width: 90%;
    height: 208px;
    right: calc(50% + 309px);
    bottom: -80px;
    background-position: right top;
  }

  .advantages__list::before {
    display: none;
  }

  .grettings__picture {
    .lines {
      display: block;
      position: absolute;
      left: auto;
      width: 903px;
      height: 150px;
      background-image: url(../img/svg/lines.svg);
      background-position: center;
      background-repeat: no-repeat;
      top: calc(100% + 67px);
      right: calc(50% - 128px);
      background-size: contain;
    }
  }
}
